.MainEj {
  /* 전체 도큐먼트에 중복 할당되는 클래스 */
  .btn {
    height: 30px;
    width: 25px;
    height: 25px;
    margin: 15px 10px 15px 10px;
  }

  .userName,
  .userId,
  .bold {
    font-weight: 700;
  }

  .gray {
    color: #797878;
  }

  .darkgray {
    color: #909090;
  }

  .lightgray {
    color: #bebebe;
  }

  .userProfile {
    border-radius: 50%;
  }

  .textArea {
    padding-left: 10px;
  }

  input:focus {
    outline: none;
  }

  .big {
    width: 56px;
    height: 56px;
  }

  .middle {
    width: 32px;
    height: 32px;
  }

  .small {
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }

  .sfont {
    font-size: 11px;
  }
  /* 메인 시작 */
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fafafa;
  }

  /* responsive browser media query settings */
  @media screen and (max-width: 960px) {
    .bodyEunjung {
      width: 100%;
      min-width: 500px;
    }
    .Nav {
      width: 100%;
      min-width: 500px;
    }
  }

  @media screen and (max-width: 768px) {
    .bodyEunjung {
      width: 100%;
      min-width: 500px;
    }
    .Nav {
      width: 100%;
      min-width: 500px;
      .search {
        width: 30%;
      }
    }
    .articleImg {
      width: 100%;
    }
    .Main-right {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    article {
      width: 100%;
      min-width: 500px;
      .articleHeader {
        width: 100%;
      }
      .articleImg {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .Nav {
      .search {
        display: none;
      }
    }
    article {
      width: 500px;
      .articleHeader {
        width: 500px;
      }
      .articleImg {
        width: 100%;
      }
    }
  }
}
