.Main-right {
  position: sticky;
  width: 293px;
  height: 430px;
  top: 100px;
  margin-left: 30px;

  .userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 293px;
    height: 56px;
  }

  .userText {
    padding: 0 auto;
  }

  .recommendText {
    display: flex;
    justify-content: space-between;
    margin: 16px 0 4px 0;
  }

  .recommended {
    .recommendBox {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0;

      .userInfo {
        display: flex;
        flex-direction: row;
        height: 45px;

        .userText {
          margin-left: 13px;
        }
      }
      .follow {
        width: 40px;
        font-size: 12px;
        border: none;
        color: #469edb;
        background: none;
        text-align: end;
      }
    }
  }
  .menu {
    display: inline-block;
    margin-top: 25px;
    width: 100%;
    padding: 0;
    border-image-repeat: stretch;
    list-style: none;

    li {
      display: inline-block;
      vertical-align: baseline;
      margin: 0;
      line-height: 13px;
      font-size: 11px;

      &::after {
        content: '\00B7';
        float: right;
        margin-left: 0.25em;
      }

      &:last-child::after {
        display: none;
      }
    }
  }
  .copyright {
    font-size: 11px;
    margin-top: 5px;
  }
}
