.storyBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 615px;
  height: 118px;
  margin-top: 35px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  overflow: hidden;
  overflow-x: scroll;

  .story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100px;
    margin: auto 3px;
    &:first-child {
      margin-left: 10px;
    }
    &:last-child {
      padding-right: 10px;
    }

    .storyImgWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      background-image: url('/images/eunjungko/rainbow.png');
      background-size: cover;
      img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
      }
    }
    .storyUser {
      width: 65px;
      margin-top: 5px;
      text-align: center;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
