article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 30px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fff;

  .articleHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    width: 100%;

    .userInfo {
      display: flex;
      flex-direction: row;

      .imgBox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        width: 32px;
        height: 60px;
      }

      .textArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .threeBtn {
      width: 23px;
      height: 23px;
      margin: auto 10px;
    }
  }

  .articleImg {
    width: 614px;
  }

  .articleFooter {
    width: 100%;
    padding: 4px 8px 0px 8px;

    .iconbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 40px;
      width: 100%;

      .iconWrapper {
        display: flex;
        flex-direction: row;
        .btn {
          margin: auto 8px;
        }
      }
    }
    .commentArea {
      padding: 0 10px 0px 10px;
      .likeStatus {
        margin-bottom: 8px;
      }
      .comment {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        .userComment {
          margin: 0 7px;
        }
        .deleteBtn {
          width: 10px;
          border: none;
          color: #469edb;
          background: none;
          cursor: pointer;
        }
        button:focus {
          outline: none;
        }
      }
    }
    .smallHeart {
      height: 12px;
      width: 12px;
    }
    .time {
      margin: 0 0 10px 10px;
      font-size: 0.75em;
    }
  }
  .commentForm {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-top: 1px solid lightgray;

    .commentInput {
      width: 100%;
      height: 100%;
      border: none;
    }
    .addBtn {
      width: 40px;
      border: none;
      color: #469edb;
      background: none;
      cursor: pointer;
    }
  }
}
